body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#searchButton {
  color: lightblue;
  background-color: black;
}

button {
  color: greenyellow;
  background-color: brown;
}

.a.b.c.d {
  color: red;
  background-color: purple;
}

.a.b.c.d.e {
  color: black;
  background-color: white;
}
