body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#searchButton {
  color: lightblue;
  background-color: black;
}

button {
  color: greenyellow;
  background-color: brown;
}

button:hover {
  color: white;
  background-color: black;
}

button:active {
  color: purple;
  background-color:white;
}

.thisSection {
  color: pink;
  /* background-image: url("./Beautiful-Norway.jpg"); */
  /* background-repeat: no-repeat */
}

.App {
  display: flex;
  align-items: center;
}

.menu {
  padding-left: 100px;
}