body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#App {
  display: flex;
  align-items: top;
}

.menu {
  padding-left: 100px;
}

#notesWrapper {
  padding: 10px
}

.sticky-notes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.note {
  background-color: #64B5F6;
  border-radius: 8px;
  width: 288px;
  padding-bottom: 25px;
  margin: 0 10px 5px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
  cursor: pointer;
  font-family: 'Arial Nova';
}

.note:hover {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}

.note-header {
  padding: 10px 15px 0;
}

.note-pin {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  line-height: 24px;
  text-align: center;
  transition: all 0.1s;
  background-color:#64B5F6;
  border: none;
  outline: 0;
} 

.note-pin{
  float: right
}

.note-pin:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.note-pin.black {
  color: black;
}

.note-pin.white {
  color: white;
}

.note-close {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  line-height: 24px;
  text-align: center;
  transition: all 0.1s;
  background-color:#64B5F6;
  border: none;
  outline: 0;
} 

.note-close{
  float: right
}

.note-close:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.note-title {
  outline: 0;
  font-size: 20px;
  padding: 0px 10px;
  text-align: left;
  float: left;
  font-family: 'Arial black';
  background-color:rgba(0, 0, 0, 0);
  color:black;
  border: none; 
  outline:none;
  height:30px;
  transition:height 1s;
  -webkit-transition:height 1s;
  max-width: 288px;
}

.note-body {
  outline: 0;
  font-size: 16px;
  padding: 0px 10px;
  text-align: left;
  float: left;
  background-color:rgba(0, 0, 0, 0);
  color:black;
  border: none; 
  outline:none; 
  height:30px;
  transition:height 0.1s;
  -webkit-transition:height 0.1s;
  width: 270px;
  resize: vertical;
  overflow: overlay;
}

.note-body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.note-body::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

.note-body::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.new-note-button {
  display: inline-block;
  padding: 5px 15px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #64B5F6;
  border: none;
  box-shadow: 0 9px #999;
  border-radius: 8px;
  width: 288px;
  margin: 10px 10px 15px;
  transition: all 0.5s;
  font-family: 'Arial black';
}

.new-note-button:hover {background-color: #42A5F5}

.new-note-button:active {
  background-color:  #42A5F5;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.dark {
  background-color: #212121;
  color: #fafafa;
}

.light {
  background-color: #fafafa;
  color:  #212121;
}

.toggle-switch-wrapper {
  padding: 10px 5px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.round-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000066;
  -webkit-transition: .4s;
  transition: .4s;
}

.round-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color:white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .round-slider {
  background-color: #2196F3;
}

input:focus + .round-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .round-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.round-slider {
  border-radius: 34px;
}

.round-slider:before {
  border-radius: 50%;
}

.sun-img {
  color: yellow;
  float: left;
  padding: 7px 6px;
}
.moon-img {
  color: white;
  float: right;
  padding: 7px 6px;
}

/* Scrolling section of stickynotes */
.scrollable {
  height: 78vh;
  overflow-y: overlay;
}

/* Aligning the account layout section */
.accountLayout {
  display: grid;
  grid-template-columns: 12vh 1fr 10vh 10vh;
  justify-content: center;
  align-items: center;
}

/* Scroll bar styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a7a5a3;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
  background: #696767;
  border-radius: 10px;
}

/* Aligning the center menu */
#centerMenu {
  width: 145vh;
  height: 100vh;
}

/* Aligning the left menu */
#leftMenu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  width: 23vh;
  height: 100vh;
  border-right-style: solid;
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
}

/* Aligning the right menu */
#rightMenu {
  border-left-style: solid;
  border-bottom-left-radius: 5%;
  border-top-left-radius: 5%;
  height: 100vh;
}

/* Animated react routing */
.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto
}

/* Styling the pop-up smart scheduler */
.pop {
  font-size: 12px;
}

.pop > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.pop > .content {
  width: 100%;
  padding: 10px 5px;
}

.pop > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.pop > .close {
  cursor: pointer;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  font-size: 24px;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

/* Animating the smart scheduler-pop-up menu */
@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}
.left-menu-buttons {
  display: inline-block;
  width: 18vh;
  padding: 10px 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #64B5F6;
  border: none;
  border-radius: 8px;
  margin: 10px 10px 15px;
  transition: all 0.5s;
  font-family: 'Arial black';
  color: black;
}

.left-menu-buttons:hover, .right-menu-buttons:hover {
  background-color: #42A5F5;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}

.clock {
  font-family: 'Arial black';
  padding: 10px 5px;
  font-size: 16px;
}

.right-menu-buttons {
  display: inline-block;
  width: 8vh;
  padding: 10px 2px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #64B5F6;
  border: none;
  border-radius: 8px;
  margin: 10px 10px 15px;
  transition: all 0.5s;
  font-family: 'Arial black';
  color: black;
}

#login {
  grid-column: 3/4;
}

